@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

/*hero section*/
.hero{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100vh;
    background-color:#c2ebff;
}
.start
{
    background-image: url(about_image.jpeg);
    filter: blur(1px) opacity(10%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.outofbg {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;


}

.intro {
    position: absolute;
    font-size: 10vw;
    -webkit-text-stroke: 2px #324261;
    font-weight: 900;
    animation: enter 1s ease-in, size .25s ease-in-out 1s backwards;
    color: #324261;
    text-align: center;
    z-index: 1;

}

.intro_in {
    position: absolute;
    font-size: 10vw;
    -webkit-text-stroke: 2px #324261;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    z-index: 3;
    text-align: center;
    animation: enter 1s ease-in backwards, size .25s ease-in-out 1s backwards;
    
}
#frontimage {
    width:68vh;
    height: 68vh;
    position: absolute;
    z-index: 4;
    border-radius: 5px;
    animation: imagesize .25s ease-in-out 1s backwards , enter 1s ease-in backwards;

}
#backimage {
    width:68vh;
    height: 68vh;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 28px ;
    animation: imagesize .25s ease-in-out 1s backwards , enter 1s ease-in backwards;
}
.spacing
{
    letter-spacing: 15vh;
}
/*
.intro_in1 {
    
    position: absolute;
    font-size: 10vw;
    color: #d4e2ff;
    -webkit-text-stroke: 2px #d4e2ff;
    font-weight: 900;
    z-index: -1;
    animation: enter 1s ease-in backwards, size .25s ease-in-out 1s backwards;

    top: 60vh;
} */


/* hero's animations */
@keyframes enter {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes size {
    0% {
        font-size: 12vw;
    
    }

    100% {
        font-size: 10vw;
        
    }
}
@keyframes imagesize{
    0% {
    
        width:50vh;
        height: 50vh;
    }

    100% {
        
        width:68vh;
        height: 68vh;
    }
}

/* about section */

.about {
    width: auto;
 height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c1d3fa;
    background-color:#324261;
    background-repeat: no-repeat;
    background-size: cover;
}

.abin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 70vh; 
    background: rgba(0, 0, 0, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 15px;
}
.abimage
{
    background-image: url(about_image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px) opacity(40%); 
    width: 100%;
    height: 100%;
    position: absolute;
}
.about_me {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-top: 10px;
}

.my_info {
    font-size: 20px;
    line-height: 1.2;
    position: relative;
    /* top: 5vh; */
    font-weight: 700;
    padding: 20px 50px 25px;
    text-align: center;
}
.my_xp
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    height: 70vh;
    width: 30vw;
    margin: 30px;
    background: rgba(0, 0, 0, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(0, 0, 0, 0.3);
margin-right: 60px;
margin-left: 0px;

}
.mylogo
{
    width: 100%;
height: 30%;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.logoback
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.mypfp
{
    filter: invert(1);
    position: relative;
    left: 2%;
    height: 60px;
    width: 60px;
}

.xpinfo
{
    height: 65%;
}
.xp_heading
{
 font-weight: 900;
 font-size: 35px;
}


.skills
{
font-size: 25px;
padding-top: 10px;
font-weight: 700;
}

/* logo section */

.logo {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works_logo {
    font-size: 5vw;
    color: #d4e2ff;
    font-weight: 200;
}

#logos {
    width: 500px;
    height: 650px;
    border: 2px solid #d4e2ff;
    margin: 2vw;
    border-radius: .5vw;
    border: 1px solid rgba(255, 255, 255, 0.27);
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

}

.works {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

@media (max-width: 1023px) {

    .about_me
    {
        font-size: 30px;
    }

    .abin{
        width: 300px;
        height: 50vh;
        padding: 30px;
    }
    .my_xp
    {
        height: 50vh;
        padding: 30px;
    }

    .intro , .intro_in
    {
        font-size: 8vw;
    }
    #frontimage , #backimage
    {
        width: 50vh;
        height: 50vh;
    }

    .spacing{
        letter-spacing: 7vh;
    }
    .xp_heading
    {
        font-size: 25px;
    }
    .mypfp{
        width: 40px;
        height: 40px;
    }

    .logoback
    {
        width: 80px;
        height: 80px;
    }
    
    .skills{
        font-size: 20px;
    }

.my_info
{
    font-size: 15px;
}

    /* animations */
    @keyframes size {
        0% {
            font-size: 10vw;
        
        }
    
        100% {
            font-size: 8vw;
            
        }
      }       
      
      @keyframes imagesize{
        0% {
        
            width:30vh;
            height: 30vh;
        }
    
        100% {
            
            width:50vh;
            height: 50vh;
        }
    }


}
 
@media (max-width: 767px) {

    .about{
        display: flex;
        flex-direction: column;
    }

    .intro , .intro_in
    {
        font-size: 20vw;
        position: absolute;
        top: 350px;
    }
    .spacing
    {
        letter-spacing: 0px;
    }
    
    #frontimage , #backimage
    {
        width: 30vh;
        height: 30vh;
        position: absolute;
        top: 80px;
    }
    .my_xp
    {
        height: 35vh;
        width: 170px;
        padding: 30px;
        margin: 0px;
    }

.xp_heading
{
    font-size: 18px;
}
.skills{
    font-size: 12px;
}
.about_me
{
    font-size: 20px;
}
.my_info
{
    font-size: 12px;
}

.abin{
    padding: 0px;
    width: 35vh;
    height: 500px;
}

    @keyframes size {
        0% {
            font-size: 25vw;
        
        }
    
        100% {
            font-size: 20vw;
            
        }
      }       
      
      @keyframes imagesize{
        0% {
        
            width:10vh;
            height:10vh;
        }
    
        100% {
            
            width:30vh;
            height: 30vh;
        }
    }
}