@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #000;
}

/*hero section*/
.hero{
    display: flex;  
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100vh;
    background-color:#000000;
    overflow: hidden;
}
.start
{
    background:#000;
    filter: blur(1px) opacity(10%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.outofbg {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;


}

.intro {
    position: absolute;
    font-size: 134px;
    -webkit-text-stroke: 2px #fff;
    font-weight: 900;
    animation: enter 1.2s ease-in, size 1.2s ease-in-out backwards;
    color: #fff;
    text-align: center;
    z-index: 1;

}

.intro_in {
    position: absolute;
    font-size: 134px;
    -webkit-text-stroke: 2px #fff;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    z-index: 3;
    text-align: center;
    animation: enter 1.2s ease-in backwards, size 1.2s ease-in-out backwards;
    
}
#frontimage {
    width:90vh;
    height: 90vh;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    border-radius: 5px;
    margin-right: 5vw;
    margin-bottom: 0px;
    animation: imagesize 1.2s ease-in-out  backwards , enter 1.2s ease-in-out backwards;

}
/*
#backimage {
    width:68vh;
    height: 68vh;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 28px ;
    animation: imagesize 1.5s ease-in-out  backwards , enter 1.5s ease-in backwards;
} */
.spacing
{
    letter-spacing: 15vh;
}
.butt
{
    font-family: "lato", sans-serif;
    font-size: 3vh;
    font-weight: 900;
    color:#fff ;
    z-index: 4;
    position: absolute;
    bottom: 15vh;
    padding: 25px;
    background-color: #2d73ff;
    box-shadow: 0px 4px 50px 0px #2d73ff;
    animation: enter 1.2s ease-in backwards , buttonup 1.2s ease-in-out backwards;
    border-radius: 50px;
}
.butt:hover{
    transition: .2s;
    box-shadow: 0px 15px 68px 0px #2d73ff;
    bottom: 15.5vh;
    cursor:pointer;

   }

.intro_in1 {
    
    position: absolute;
    font-size: 134px;
    -webkit-text-stroke: 2px #fff;
    color: #fff;
    font-weight: 900;
    z-index: 1;
    text-align: center;
    animation: enter 1.2s ease-in backwards, size 1.2s ease-in-out backwards;
    top: 10vh;
} 

.intro_in2 {
    
    position: absolute;
    font-size: 134px;
    -webkit-text-stroke: 2px #fff;
    color: #fff;
    font-weight: 900;
    z-index: 1;
    text-align: center;
    animation: enter 1.2s ease-in backwards, size 1.2s ease-in-out backwards;
    bottom: 10vh;
} 

.toptext{
    opacity: .9;
    cursor: default;
}


/* hero's animations */
@keyframes enter {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes size {
    0% {
        font-size: 155px;
    
    }

    100% {
        font-size: 134px;
        
    }
}
@keyframes imagesize{
    0% {
    
        width:60vh;
        height: 60vh;
    }

    100% {
        
        width:90vh;
        height: 90vh;
    }
}

@keyframes buttonup {
    
    0%
    {
      bottom: 0px;
    }

    100%
    {
       bottom: 15vh;
    }
}

/* about section */

.about {
    cursor: default;
    width: auto;
 height: 100vh;
 transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c1d3fa;
    background-color:#324261;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}
.abblur
{
    display: flex;
    width: 85vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(90%);
    background-color: rgba(60, 66, 77, 0.75);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.abin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 70vh; 
    text-align: left;
  /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(90%);
    background-color: rgba(21, 23, 26, 0.75);
    border-radius: 40px;
    border: 1px solid rgba(21, 18, 18, 0.125);*/
    padding: 15px 15px;
}

hr.line
{
    width: 2px;
    height: 30vh;
    background:#fff ;
    border-radius: 2px;
    opacity: 30%;
    position: absolute;
    text-decoration: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

.abimage
{
    background-image: url(robobg.png);
    background-color: #000;
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}
.about_me {
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    text-align: left;
}

.my_info {
    font-size: 25px;
    line-height: 1.2;
    position: relative;
    /* top: 5vh; */
    font-weight: 700;
    text-align: left;
}
.my_xp
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    height: 480px;
    width: 500px;
    margin: 30px;
    text-align: left;
margin-right: 60px;
margin-left: 0px;

}
.mylogo
{
    width: 100%;
height: 30%;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.logoback
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.mypfp
{
    filter: invert(1);
    position: relative;
    left: 2%;
    height: 60px;
    width: 60px;
}

.xpinfo
{
    height: 65%;
}
.xp_heading
{
 font-weight: 900;
 font-size: 35px;
}


.skills
{
font-size: 25px;
padding-top: 10px;
font-weight: 700;
}

/* logo section */

.logo {
    width: 100%;
    height: 800px;
    display: flex;
    background:#000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.moreContainer{
    width: 85vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(90%);
    background-color: rgba(60, 66, 77, 0.75);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.containerInside{
    width: 100%;
    display: flex;
    height: 90%;
}
.moreInfo{
    width: 50%;
    height: 100%;
}
.moreImages{
    width: 50%;
    height: 100%;
    display: block;
    justify-content: left;
}
.textNumber{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.image-sliderfade {
	display: none;
	z-index: 2;
    justify-content: left;
    position: relative;
  left: 3.5vw;
	
}
.image-slider {
	display: none;
	z-index: 2;
	
}

button{
    background: linear-gradient(#3f81f3,#2d73ff);
    box-shadow: 1px 2px 7px 0px #2d73ff;
    border-radius: 50%;
    border: 1px solid #3f81f3;
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 3vh;
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    margin: 10px;
}

.image-sliderfade:nth-child(1)
{
	display: flex;
}
.image-slider:nth-child(1)
{
	display: flex;
}

.images {
	width: 500px;
	height: 500px;
	border-radius: 30px;
	position:relative;
    text-align: left;
    font-family: "lato",sans-serif;
    color: #fff;
	margin: 50px;
	transition: .5s ease-in-out;
}
.proj_heading
{
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
}
.proj_info{
    font-size: 30px;
    text-align: left;
    font-weight: 300;
    margin-top: 50px;
}


@media (min-width:2400px) {


    /* hero section*/
    .intro

    {
        font-size: 240px;
    }
    .intro_in

    {
        font-size: 240px;
    }
    .intro_in1

    {
        font-size: 240px;
        top: 300px;
    }
    .intro_in2

    {
        font-size: 240px;
        bottom: 300px;
    }
    .butt
    {
        border-radius: 100px;
        padding: 50px;
    }


    /*about section */
    .my_info
    {
        font-size: 40px;
    }

    .abin{
    width: 800px;
    display: flex;
    }

    hr.line{
        position: relative;
        margin: 100px;
    }
.xp_heading
{
    font-size: 50px;
}
.skills
{

font-size: 35px;
}

.about_me{
    font-size: 50px;
}

.my_xp{
    width: 500px;
    height: 600px;
}
/*more section*/
.logo{
    height: fit-content;
}
.moreContainer
{
    margin: 300px;
    height: 1500px;
}
.image-sliderfade
{
    height: 100%;
}
.image-slider
{
    height: 100%;
}
#imgus{
    width: 80%;
    height: 80%;
    margin-right: 10%;
    margin-top: 10%;
}
#imgur{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.proj_heading
{
    font-size: 100px;
}
.proj_info
{
    font-size: 70px;
}
button
{
    width: 150px;
    height: 150px;
    font-size: 100px;
    font-weight: 900;
}
/*animation section */

@keyframes size {
    0% {
        font-size: 280px;
    
    }

    100% {
        font-size: 240px;
        
    }
    
}
}



/* for tabs and below */
@media (max-width: 1028px) {

    .about_me
    {
        font-size: 30px;
    }

    .abin{
        width: 300px;
        height: 50vh;
        padding: 30px;
    }
    .my_xp
    {
        height: 50vh;
        padding: 30px;
        width: 350px;
        margin: 0px;
    }

    .xp_heading{
        font-size: 30px;
    }

    .intro , .intro_in
    {

        font-size: 80px;
    }

    .intro_in1
    {
        top: 130px;
    }
    .intro_in2
    {
        bottom: 130px;
    }
.intro_in1 , .intro_in2
{
    font-size: 80px;
}
    #frontimage , #backimage
    {
        width: 500px;
        height: 500px;
    }

    .spacing{
        letter-spacing: 7vh;
    }
    .xp_heading
    {
        font-size: 30px;
    }
    .mypfp{
        width: 40px;
        height: 40px;
    }
    .butt{
        padding: 20px;
        bottom: 10vh;
    }

    .logoback
    {
        width: 80px;
        height: 80px;
    }
    
    .skills{
        font-size: 15px;
    }


.my_info
{
    font-size: 15px;
}
/*logo section */
.logo{
    height: fit-content;
}
.moreContainer
{
    margin: 100px;
    height: 500px;
}
.image-sliderfade
{
    height: 100%;
}
.image-slider
{
    height: 100%;
}
#imgus{
    width: 80%;
    height: 80%;
    margin-right: 10%;
    margin-left: 0px;
    margin-top: 10%;
}
#imgur{
    width: 80%;
    height: 80%;
    margin-right: 0px;
    margin-left: 10%;
    margin-top: 10%;
}
.proj_heading
{
    font-size: 100px;
}
.proj_info
{
    font-size: 70px;
}
button
{
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 900;
}

.proj_heading
{
    font-size: 30px;
}
.proj_info{
    font-size: 15px;
}


    /* animations */
    @keyframes size {
        0% {
            font-size: 95px;
        
        }
    
        100% {
            font-size: 80px;
            
        }
      }       
      
      @keyframes imagesize{
        0% {
        
            width:400px;
            height: 400px;
        }
    
        100% {
            
            width:500px;
            height: 500px;
        }
    }


}
 /* for small tabs and below */
@media (max-width: 765px) {


    .hero
    {
        height: 100vh;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
        align-items: center;
        background: #000;

    }
    .abblur{
        flex-direction: column-reverse;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px;
    }

    hr.line
    {
        width: 30px;
        height: 3px;
        margin: 0;
        position: relative;
    }


    .intro , .intro_in
    {
        font-size: 20vw;
        position: absolute;
        top: 60px;
    }
    .intro_in1 ,.intro_in2
    {
        visibility: hidden;
    }
    .butt
    {
        width: 100%;
        height: 20px;
        border-radius: 0px;
        position: absolute;
        bottom: 0px;
    }
    .spacing
    {
        letter-spacing: 0px;
    }
    
    #frontimage , #backimage
    {
        width: 100vw;
        height: auto;
        position: absolute;
    }
    .my_xp
    {
        height: 50vh;
        width: 220px;
        padding: 5px;
        margin-top: 0px;
        margin-right: 0px;
        padding: 0px;
        margin-bottom: 20px;
        text-align: left;
    }
    .image-sliderfade:nth-child(1)
{
	display: flex;
    justify-content: center;
    align-items: center;
}

.xp_heading
{
    font-size:26px;
}
.skills{
    font-size: 16px;
}
.about_me
{
    font-size: 26px;
}
.my_info
{
    font-size: 16px;
}

.abin{
    padding: 0px;
    width: 35vh;
    height: auto;
    margin-bottom:10px;
    margin-top: 20px;
}


.moreContainer
{
    height: max-content;
}

.containerInside
{
    flex-direction: column-reverse;
}
.butt:hover{
    transition: .2s;
    box-shadow: 0px 15px 68px 0px #2d73ff;
    bottom: 0vh;
    cursor:pointer;

   }


.logo{
    height: fit-content;
}
.moreContainer
{
    margin: 70px;
    height: fit-content;
}
.image-sliderfade
{
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.image-slider
{
    height: 100%;
}
#imgus{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
#imgur{
    width: 80%;
    height: 260px;
    margin: 0px;
    margin: 20px;
    margin-top: 0px;
    
    
}
.proj_heading
{
    font-size: 20px;
    margin: 20px;
}
.proj_info
{
    font-size: 15px;
    margin: 20px;
    height: 100%;
}
button
{
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 900;
}

.images{
    width: 100%;
}
.moreInfo
{
    width: 100%;
}

.moreImages
{
    width: 100%;
}


    @keyframes size {
        0% {
            font-size: 25vw;
        
        }
    
        100% {
            font-size: 20vw;
            
        }
      }       
      
      @keyframes imagesize{
        0% {
        
            width:10vh;
            height:10vh;
        }
    
        100% {
            
            width:100vw;
            height: 100vw;
        }
    }

        @keyframes buttonup {
    
            0%
            {
              width: 20%;
            }
        
            100%
            {
               width: 100%;
            }
    }
}
@media(max-width:325px)
{

    .proj_heading
{
    font-size: 18px;
    margin: 20px;
}
.proj_info
{
    font-size: 12px;
    margin: 20px;
    height: 100%;
}
}