@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #232731 0%, #182848 100%);
    font-family: "Lato", sans-serif;
}

/*hero section*/
.start {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;

}

.intro {
    position: absolute;
    font-size: 10vw;
    -webkit-text-stroke: 2px #d4e2ff;
    font-weight: 900;
    animation: enter 1s ease-in, size .25s ease-in-out 1s backwards;
    color: #d4e2ff;
    z-index: -2;
    top: 10vh;
}

.intro_in {
    position: absolute;
    font-size: 10vw;
    -webkit-text-stroke: 2px #d4e2ff;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    animation: enter 1s ease-in backwards, size .25s ease-in-out 1s backwards;

    top: 35vh;
}

.intro_in1 {
    
    position: absolute;
    font-size: 10vw;
    color: #d4e2ff;
    -webkit-text-stroke: 2px #d4e2ff;
    font-weight: 900;
    z-index: -1;
    animation: enter 1s ease-in backwards, size .25s ease-in-out 1s backwards;

    top: 60vh;
}


/* hero's animations */
@keyframes enter {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes size {
    0% {
        font-size: 12vw;
    }

    100% {
        font-size: 10vw;
    }
}

/* about section */

.about {
    width: auto;
 height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #d4e2ff;
    background-repeat: no-repeat;
    background-size: cover;
}

.abin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    /* height: 80vh; */
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    padding: 15px 20px;
}

.about_me {
    font-size: 4vw;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.my_info {
    font-size: 20px;
    line-height: 1.2;
    position: relative;
    /* top: 5vh; */
    padding: 25px 50px;
    text-align: center;
}

/* logo section */

.logo {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works_logo {
    font-size: 5vw;
    color: #d4e2ff;
    font-weight: 200;
    padding-top: 75px;
}

#logos {
    width: 180px;
    height: 230px;
    border: 2px solid #d4e2ff;
    margin: 2vw;
    border-radius: .5vw;
    border: 1px solid rgba(255, 255, 255, 0.27);
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

}

.works {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

@media (max-width: 1199px) {}

@media (max-width: 767px) {

.intro , .intro_in , .intro_in1
{
    font-size: 15vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

@keyframes size {
    0% {
        font-size: 17vw;
    }

    100% {
        font-size: 15vw;
    }
}

    .about_me {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    .my_info {
        font-size: 17px;
        padding: 0;
    }
    .works{
        flex-direction: column;

    }
    #logos
    {
        width: 200px;
        height: 280px;
        margin: 20px;
       
    }
    .works_logo
    {
        font-size: 30px;
        text-align: center;
    }
}