
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: Verdana, sans-serif;
    background: #000;
}

.image-sliderfade {
	display: none;
	z-index: 2;
	
}

.image-sliderfade:nth-child(1)
{
	display: block;
}

.buttons{
	display: flex;
	width: auto;
}

img {
	width: 500px;
	height: 500px;
	border-radius: 30px;
	position:relative;
	margin: 50px;
	transition: 5s ease-in-out;
}

/* Slideshow container */
.container {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding: 0;
	flex-direction: column;
	z-index:2;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


/* The dots/bullets/indicators */
.left_button {
	height: 40px;
	width: 100%;
    text-align: left;
	display: inline-block;
	transition: border-color 0.6s ease;
}
.lb{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #fff;
    background-color: #000;
    border: 5px solid #fff;
}


.right_button {
	height: 40px;
	width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
	transition: border-color 0.6s ease;
}

.rb{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #fff;
    background-color: #000;
    border: 5px solid #fff;
}

.active {
	border-color: #666;
}

/* Animation */
.fade {
	-webkit-animation: fade-image 1.5s ease-in-out;
	animation: fade-image 1.5s ease-in-out;
}

@-webkit-keyframes fade-image {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-image {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px;
	}
}
